<div class="logo container">
  <h1>Time Tracker</h1>
</div>
<div class="container">
  <nav class="custom-nav navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= active?(root_path) %>">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= active?(posts_path) %>">
            <%= link_to "Time Entry", posts_path, class: "nav-link" %>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
              role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Profile: <%= current_user.name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Edit Details", edit_user_registration_path, class: "dropdown-item" %>
              <div class="divider"></div>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        </ul>
   
    </div>
  </nav>
</div>