<%= form_with(model: @post, class: "form-horizontal", role: "form", local: true) do |f| %>
  <% if @post.errors.any? %>
    <%  @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  <% end %>
  <div class= "form-group">
    <%= f.label :date, class: "col-sm-2" %> 
    <%= f.date_field :date, class: "form-control col-sm-10" %>  
  </div>

  <div class= "form-group">
    <%= f.label :rationale, class: "col-sm-2" %> 
    <%= f.text_area :rationale, class: "form-control col-sm-10"  %>   
  </div>

  <div class= "form-group row">
  
    <%= f.radio_button :status, 'submitted' %>
    <%= f.label :status, 'Submitted' %> 
  
    <%= f.radio_button :status, 'approved' %>
    <%= f.label :status, 'Approved' %>

    <%= f.radio_button :status, 'rejected' %>
    <%= f.label :status, 'Rejected' %>
  </div>

  <div class="form-group row">
    <%= f.submit 'Save', class: "btn btn-dark btn-block" %>
  </div>
<% end %>




