<!DOCTYPE html>
<html>
  <head>
    <title>Overtime</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <%= render "shared/nav" %>
    </header>
    <main role="main">
 
      <%
=begin%>
 <section class="jumbotron text-center">
        <div class="container">
          <h1></h1>
          <p class="lead text-muted"></p>
        </div>
      </section> 
<%
=end%>
       
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <%= yield %>
          </div>

        </div>
      </div>
   </main>
  </body>
</html>
